@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  font-family: 'Martian Mono', monospace;
  background: #63526e;
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #33384e;
  border-radius: 20px;
  border: 3px solid #fcf3e3;
}

.sent{
  @apply color5
}

.received{
  @apply color4
}

.divsent{
  @apply flex flex-row-reverse
}

.sidebar{
  @apply animate-[showSidebar_.4s] md:animate-none md:left-0;
}

@keyframes showSidebar{
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.sidebarOut{
  @apply animate-[hiddenSidebar_.4s] md:animate-none md:left-0;
}

@keyframes hiddenSidebar{
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: -100%;
  }
}

.color1 { @apply bg-[#cc2649] };
.color2 { @apply bg-[#992c4b] };
.color3 { @apply bg-[#66324c] };
.color4 { @apply bg-[#33384e] };
.color5 { @apply bg-[#003e4f] };

.active{
  @apply bg-[#8b3c64]
}