@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  font-family: 'Martian Mono', monospace;
  background: #63526e;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #33384e;
  border-radius: 20px;
  border: 3px solid #fcf3e3;
}

.sent{
  @apply color5
}

.received{
  @apply color4
}

.divsent{
  @apply flex flex-row-reverse
}

.color1 { @apply bg-[#cc2649] };
.color2 { @apply bg-[#992c4b] };
.color3 { @apply bg-[#66324c] };
.color4 { @apply bg-[#33384e] };
.color5 { @apply bg-[#003e4f] };

.active{
  @apply bg-[#8b3c64]
}